/* --- Lucia's Interview ---- */

  /* Article > Header */

  .article-number{
    background:#ee462b;
    float:left;
    font-family:'Arvo', serif;
    color:white;
    font-weight:100;
    font-size: 2em;
    text-align:center;
    line-height:1em;
    padding:0.5em 0.8em 0.5em 0.75em;
    margin-right:0.25em;
    border-radius: 50%;
    font-style:italic;
  }

  h1 {
    font-size:3.5em;
    line-height:1.15em;
    margin:0 0 0.25em;
  }
  
  address {
    font-weight: 100;
    margin-left:0.5em;
  }

  address a, address a:visited, address a:active{
    color:black;
    font-weight: bold;
  }

  address p{
    margin:0;
  }

  address a:hover{
    color:#ee462b;
    text-decoration: none;
  }

  address .author-image{
    display:inline-block;
    border-radius:50%;
    width:35px;
    height:35px;
  }

  address #author-ivonnekn{
    background:url('http://api.twitter.com/1/users/profile_image/ivonnekn') center center;
  }


  address .author-info{
    display:inline-block;
    height:35px;
    padding-left:5px;
  }
  
  address #date{
    font-size:0.75em;
    color:#555;
  }

  /* Article > Section */

  section{
    margin:2em 0;
    text-align: justify;
  }
  
  section h2{
    font-size:1.7em;
  }

  section h3 {
    font-size:1em;
    line-height:1.4em;
    font-weight: bold;
    color:#000;
    margin-bottom:1.25em;

  }

  /* Article > #Introduction */

  #introduction{
    
  }

  /* Article > #Opening */

  #opening{
    font-style: italic;
    background: #f3f3f3;
  }

  #opening figure{
    display: inline-block;
    width:100%;
    margin:0;
    padding:0;
  }

  #opening figure img{
    width:100%;
  }

  #opening span{
    display:block;
  }

  #opening span span#left{
    padding-right:3%;
  }

  #opening span span#right{
    padding-left:3%;
  }


  /* Article > Aside/Figure */

  aside, figure {
    position:relative;
    width:75%;
  }

  aside p, figure p{
    font-size: 0.9em
  }

  .arrow,
  .arrow:after {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }

  .arrow:after {
    z-index: -1;
    content: "";
  }

  .arrow {
    top: 50%;
    right: -15px;
    margin-top: -10px;
    border-width: 15px 0 15px 15px;
  }

  .arrow:after {
    right: -1px;
    bottom: -11px;
    border-left-color: #000;
    border-width: 16px 0 16px 16px;
  }

  /* Article > Aside > Info-Panel */

  .info-panel aside{
    color:white;
    background-color:#ee462b;
    padding:1em;
    line-height: 1.5em;
    text-align: left;

  }

  .info-panel aside h3{
    color:white;
    line-height:1.5em;
    margin-bottom:0.5em;
    margin-top:0;
    font-weight: bold;
    font-size:1.1em;
  }

  .info-panel .arrow:after{
    border-left-color: #ee462b;
  }

  /* Article > Figure > Notable-Person */

  
  .notable-person figure{
    color:black;
    background-color:#f3f3f3;
    padding:1em;
    margin:0;
    line-height: 1.5em;
    text-align: left;
  }

  .notable-person .arrow:after{
    border-left-color: #f3f3f3;
  }

  .notable-person img{
    width:33%;
    float:left;
  }

  .notable-person figcaption{ 
    float:left;
    width: 60%;
    margin-left: 7%;
  }

  .notable-person h3{
    line-height:1.5em;
    margin-bottom:0.5em;
    margin-top:0;
    font-weight: bold;
    font-size:1.1em;
  }

  .notable-person h4{
    font-size:1em;
    line-height: 0.5em;
    margin:0;
    margin-bottom:0.5em;
    font-weight: normal;
  }
  
  #neha-khera figure{
    top:3.5em;
  }

  #mary-wells figure{
    top:-1em;
  }
  
  #william-barek figure{
    top:5em;
  }

  /* Article > Aside > Pull-Quote */

  .pull-quote{
    background-color:#f3f3f3;
    width:100%;
    margin:2em 0 4em;
    display:block;
  }
  
  .pull-quote .quote{
    background-color:#f3f3f3;
    height:7em;
    width:95%;
    float:left;
  }

  .pull-quote .quote h2{
    margin:0;
    padding:0.25em 0.5em;
  }

  .pull-quote .quote-mark{
    color:white;
    background-color:#ee462b;
    height:7em;
    margin-left:0;
    width:5%;
    float:left;
    vertical-align: middle;
    text-align: center;
  }

  .pull-quote .quote-mark span{
    font-size:7em;
    line-height: 1em;
    vertical-align: middle;
  }



  /* Article > Interview-Panel */

  .interview-panel{
    font-size: 1.14em;
    line-height: 1.75em;  
  }


  .interview-panel p{
    margin-bottom:1.5em;
  }

