/*------------------------------------------------*/
/*------------------------------------------------*/
@media (max-width: 480px) {

}


/*------------------------------------------------*/
/*------------------------------------------------*/
@media (max-width: 767px) {



  
}

/*------------------------------------------------*/
/*------------------------------------------------*/
@media (min-width: 768px) and (max-width: 979px) {


  .span4#past-interviews-teaser, .span4#up-next-teaser{
    width: 352px;
  }

  .span4#get-updates-teaser{
    width: 352px;
  }

  #byline{
    display:none;
  }

  #teasers #byline-teaser{
    display:block;
    background:transparent;
  }

  #byline-teaser #the-team, #byline-teaser #contact{
    width:100%;
  }

  #byline-teaser #team-links{
    display:block;
  }

  footer #logo-black{
    float:none;
    clear:right;
  }

  footer{
    position:relative;
  }
  footer #contact{
    position: absolute;
    bottom:0;
  }

  footer #contact p {
    float: none;
    margin-left: 0;
    clear:right;
  }

  footer #follow{
    margin-left:0;
  }
}

/*------------------------------------------------*/
/*------------------------------------------------*/
@media (min-width: 980px) and (max-width: 1199px) {

  .teaser-block > img, .teaser-block #subscribe{
    width:100%;
    height:150px;
  }
  

  #subscribe .mc-field-group{
    padding-top:10px;
  }

  #subscribe label {
    width: 15%;
  }

  #subscribe input{
    width:80%;
  }

  #subscribe #placeholder{
    font-size: 1.1em;
    padding-top:3px;
  }

  #subscribe input[type="submit"] {
    right: 15px;
    bottom: 15px;
    width: 35%;
    font-size: 1.0em
  }
}

/*------------------------------------------------*/
/*------------------------------------------------*/
@media (min-width: 1200px) {
  

  
}