/*=============================
=============================*/


.no-svg #table-of-contents-animation {
    background:transparent url("../img/ayla-interview/img-swiffy-table-of-contents.gif") no-repeat left top;
}

.no-svg #coffee-animation {
    background:transparent url("../img/lucia-interview/img-swiffy-coffee-cup.png") no-repeat left top;
}

/* Article > Header */

.interview .interview-number {
    padding: 0.4em 0.6em 0.4em 0.65em;
}

.interview address #author-brttb {
    background: url('http://api.twitter.com/1/users/profile_image?screen_name=brttb&size=bigger') center center no-repeat;
    background-size: 110%;
}

/* Article > #Opening */
.fullscreen img {
    min-height: 420px;
    min-width: 748px;
}

.fullscreen .info-panel#collage {
	top:45%;
}

.fullscreen .info-panel#pecha-kucha {
    top:auto;
    bottom:50%;
}

.fullscreen .info-panel#illustrations {
    top:25%
}

.fullscreen .info-panel#screenshots {
    top:5%
}

.fullscreen .info-panel aside{
}
/* Article > Start Tag */
.no-svg #start-animation {
    background:transparent url("../img/lucia-interview/img-swiffy-start-animation.gif") no-repeat left top;
}

a.tweet-this, a.tweet-this:hover{
    cursor: pointer;
    border-bottom: 0;
    text-decoration: none;
}

a.tweet-this{
    color: #444;
}

a.tweet-this:hover{
    background:rgba(255, 174, 164, 0.4);
    color: #000;
}

#kesley-blackwell {
	margin-top:75px;
}

.notable-person h4 {
	font-size: 1.071em;
	line-height: 1.3em;
	margin: 0 0 0.25em;
	font-weight: bold;
}
.photo-credit.light {
	background-color:rgba(255,255,255,0.4);
}

/* Mobile Fluid */
@media (max-width:767px) {

    .curtains.drawn > li .fullscreen{
        margin-top: 10px;
    }

    .fullscreen {
        height: inherit;
    }
    .fullscreen img {
        min-height: inherit;
        min-width: inherit;
        position: static;
        margin-left: inherit;
        top: inherit;
        left: inherit;
    }


    .photo-credit, .photo-credit.light, .photo-credit.dark{
        position:static;
        height: inherit;
        color: #999;
        background-color: transparent;
    }

    .photo-credit a, .photo-credit a:visited, .photo-credit.light a, .photo-credit.light a:visited, .photo-credit.dark a, .photo-credit.dark a:visited{
        color: #888;
    }

    .fullscreen .parallax{
        position: static;
        height: inherit;
    }

    .fullscreen .info-panel{
        width: inherit;
        top: inherit;
        position: static;
    }

    .callout-question #quote-mark{
        top: 2em;
    }

    .photo-callout img{
        float: none;
    }

	#kesley-blackwell {
		margin-top:0;
	}
	.notable-person h4 {
		line-height:1.5em;
	}
}


@media (max-width:480px) {
    #kesley-blackwell {
        margin-top:0;
    }
}