/* --- Article #1 ---- */
  
  .lucia-interview a {
    text-decoration: none;
    font-weight:bold;
  }


  /* Article > Header */

  .lucia-interview h1 {
    margin:0 0 0.25em;
  }
  
  .interview-number{
    margin-top:0.1em;
    margin-right: 0.25em;
    font-size: 2.5em;
  }
  
  address {
    font-weight: 100;
    margin-left:0.5em;
    font-size:1.4em;
    line-height: 1.1em
  }

  address a, address a:visited, address a:active{
    color:black;
    font-weight: bold;
  }

  address p{
    margin:0;
  }

  address a:hover{
    color:#ee462b;
    text-decoration: none;
  }

  address .author-image{
    display:inline-block;
    border-radius:50%;
    width:44px;
    height:44px;
  }

  address #author-ivonnekn{
    background:url('http://api.twitter.com/1/users/profile_image/ivonnekn') center center;
  }


  address .author-info{
    display:inline-block;
    height:35px;
    padding-left:5px;
  }
  
  
  address .date{
    font-size:0.6em;
    color:#555;
  }

  /* Article > Section */

  section{
    margin:2.5em 0;
  }


  section h2 a{
    font-weight: normal;
  }

  section h3 {
    font-size:1em;
    line-height:1.8em;
    font-weight: bold;
    color:#000;
    margin-bottom:1.8em;

  }

  .new-line{
    clear:left;
  }

  /* Article > #Introduction */

  #introduction{
    
  }

  /* Article > #Opening */

  #opening{
    font-style: italic;
    background: #f3f3f3;
    font-size:1.2em;
    color:#444;
  }

  #opening figure{
    display: inline-block;
    width:100%;
    margin:0;
    padding:0;
  }

  #opening figure img{
    width:100%;
  }

  #opening span{
    display:block;
  }

  #opening span span#left{
    padding-right:3%;
  }

  #opening span span#right{
    padding-left:3%;
  }
  
  /* Article > Start Tag */
  #start-tag{
    padding-top:1em;
  }
  /* Article > Aside/Figure */

  aside, figure {
    position:relative;
    width:75%;
  }

  aside p, figure p{
    font-size: 1.0em;
    line-height: 1.6em;
  }

  .info-panel, .notable-person{
    position:relative;
  }

  .arrow,
  .arrow:after {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }

  .arrow:after {
    z-index: -1;
    content: "";
  }

  .arrow {
    top: 50%;
    right: -15px;
    margin-top: -10px;
    border-width: 15px 0 15px 15px;
  }

  .arrow:after {
    right: -1px;
    bottom: -11px;
    border-left-color: #000;
    border-width: 16px 0 16px 16px;
  }


  /* Article > Aside > Info-Panel */

  .info-panel aside{
    color:white;
    background-color:#ee462b;
    padding:1em;
    line-height: 1.5em;
    text-align: left;
    position:absolute;
    top:1em;

  }

  .info-panel aside h3{
    color:white;
    line-height:1.5em;
    margin-bottom:0.5em;
    margin-top:0;
    font-weight: bold;
    font-size:1.4em;
    font-family:'Arvo', serif;
  }

  .info-panel .arrow:after{
    border-left-color: #ee462b;
  }


  aside p.mentor{
    color:black;
    font-style: italic;
    font-size:0.8em;
  }

  aside p.mentor em{
    font-style: normal;
    font-weight: bold;
  }

  /* Article > Figure > Notable-Person */

  
  .notable-person figure{
    color:black;
    background-color:#f3f3f3;
    padding:1em;
    margin:0;
    line-height: 1.5em;
    text-align: left;
    position:absolute;
    top:1em;
  }

  .notable-person .arrow:after{
    border-left-color: #f3f3f3;
  }

  .notable-person img{
    float:left;
  }

  .notable-person figcaption{ 
    float:left;
    width: 60%;
    margin-left: 7%;
    padding-top: 0.2em;
    line-height:1.5em;
  }

  .notable-person h3{
    line-height:1.5em;
    margin-bottom:0.5em;
    margin-top:0;
    font-weight: bold;
    font-size:1.1em;
    font-family:'Arvo', serif;
  }

  .notable-person h4{
    font-size:1em;
    line-height: 0.5em;
    margin:0;
    margin-bottom:0.75em;
    font-weight: normal;
  }
  
  #neha-khera figure{
    
  }

  #mary-wells figure{
    
  }
  
  #william-barek figure{
    
  }

  /* Article > Aside > Pull-Quote */

  .pull-quote{
    /* pull quote should have 90px-ish margin (90/14 = ~6) */
    margin-bottom:6em;
    margin-top:4.5em; /* <p> has 1.5em bottom margin so this counteracts that */
    background-color:#f3f3f3;
    display:block;
  }
  
  /* pull quote in the last row is followed by a new section */
  /* It must counteract .section's top margin of 2.5em */
  /* to give an even 6em whitespace */

  .pull-quote.last-row{
    margin-bottom:3.5em;

  }
  
  .pull-quote .quote{
    background-color:#f3f3f3;
    height:7em;
    width:94%; /* quote and quote mark must add to 100% */
    float:left;
  }


  
  .pull-quote .quote h2{
    margin:0;
    line-height:1.4em;
    padding:0.25em 0.5em;
  }
  
  .pull-quote .quote-mark{
    color:white;
    background-color:#ee462b;
    height:7em;
    margin-left:1%; 
    width:3%;  /* quote and quote mark must add to 100% */
    float:left;
    vertical-align: middle;
    text-align: center;
    padding:0 1%;
    
  }

  .pull-quote .quote-mark img{
    padding-top:1.25em;
    vertical-align: middle;
    max-width:100%;
  }



  /* Article > Interview-Panel */

  .interview-panel{
    font-size: 1.3em;
  line-height: 2em;
  }


  .interview-panel p{
    margin-bottom:1.5em;
    color:#444;
  }

/* End Tag */
  
  #end-tag{
    position: relative;
    top:-103px;
    margin-top:-1em; /* Moves the end tag up to counteract .section's bottom margin */
  }

  #end-tag img{
    position:absolute;
  }
