.no-svg #table-of-contents-animation {
    background:transparent url("../img/lucia-interview/img-swiffy-table-of-contents.gif") no-repeat left top;
}

.no-svg #coffee-animation {
    background:transparent url("../img/lucia-interview/img-swiffy-coffee-cup.png") no-repeat left top;
}

.interview .interview-number {
    padding: 0.4em 0.75em 0.4em 0.7em;
}

.interview address #author-ivonnekn {
    background: url('http://api.twitter.com/1/users/profile_image?screen_name=ivonnekn&size=bigger') center center no-repeat;
    background-size: 110%;
}

/* Article > #Opening */

.fullscreen img {
    min-height: 500px;
    min-width: 748px;
}

/* Article > Start Tag */
.no-svg #start-animation {
    background:transparent url("../img/lucia-interview/img-swiffy-start-animation.gif") no-repeat left top;
}