#sponsors {
  padding: 20px 20px 0px;
}
#sponsors a {
  font-weight: bold;
  font-style: italic;
}

#team {
  margin-top: 100px;
}

#about_team h2 {
  color: #b2b2b2;
  font-family: 'Arvo', serif;
  font-size: 3em;
  line-height: 1em;
  font-style: italic;
  margin-bottom: 40px;
  letter-spacing: -0.04em;
}
#about_team p {
  font-size: 1.32em;
  line-height: 2em;
}

.member {
  width: 20%;
  min-height: 200px;
  display: inline-block;
  float: left;
  text-align: left;
}
.member a{
  color: #333;
  text-decoration: none;
}
.member a:hover{
  color: #FF3818;
}
.member img {
  margin: 0px auto;
}
.member a {
  text-decoration: none;
  color: #333333;
}
.member a p {
  font-size: 0.9em;
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}
.member a h3 {
  font-size: 1.2em;
  line-height: 1em;
  margin-bottom: 0px;
  font-style: normal;
}
.member a h4 {
  font-family: 'Arvo', serif;
  color: #b2b2b2;
  letter-spacing: -0.04em;
}
.member a:hover {
  color: #b2b2b2;
}

.with_heart p {
  margin-bottom: 30px;
}

#friends {
  margin-top: 90px;
  text-align: center;
}
#friends h3 {
  font-size: 2em;
  font-family: 'Arvo', serif;
  font-weight: normal;
  text-align: left;
  color: #b2b2b2;
  font-style: italic;
  letter-spacing: -0.04em;
}
#friends .friend {
  padding: 0px 5px;
}
#friends .friend img {
  margin-top: 35px;
  margin-bottom: 40px;
}
#friends .friend p {
  text-align: left;
  font-size: 0.95em;
}

#help_us {
  background: #f3f3f3;
  padding: 5px 10px 10px;
  text-align: left;
}
#help_us h3 {
  margin-left: 5px;
  margin-bottom: 20px;
}
#help_us p {
  text-align: left;
  display: block;
  min-height: 55px;
}
#help_us p img {
  float: left;
  margin: 5px;
  margin-right: 15px;
  display: inline-block;
}
#help_us span p {
  margin: 0px;
  margin-left: 5px;
  padding: 0px;
  min-height: 0px;
}

#interest {
  margin-top: 90px;
  font-size: 0.85em;
}
#interest p {
  line-height: 1em;
  padding: 0px;
  margin: 0px;
}

@media (min-width: 1200px) {
  #featured_sponsor #box #sponsor_logo img {
    width: 100%;
  }
  #featured_sponsor #box #sponsor_callout {
    margin-left: 0px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  #about_team h2 {
    font-size: 2em;
  }
  #about_team p {
    font-size: 1em;
  }

  .member {
    width: 31%;
    margin: 0px 1%;
    min-height: 245px;
  }
  .member img {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  #friends .span9 {
    width: 100%;
  }
  #friends .span9 .span3 {
    width: 30%;
    padding: 0px;
  }
  #friends .span3 {
    width: 98%;
  }
  #friends .span3 #help_us {
    margin-top: 30px;
    padding: 30px 30px 20px;
  }
  #friends .span3 #help_us p {
    font-size: 1.5em;
    line-height: 2.7em;
    margin-left: 0px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .member {
    width: 23%;
    margin: 0px 1%;
    min-height: 230px;
  }
}
@media (max-width: 480px) {
  .member {
    width: 50%;
  }
}
